In [308]:
# Dependencies
from sqlalchemy import *
import pymongo
import csv
import pandas as pd

In [309]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define database and collection
db = client.db
db.collection.drop()
collection = db.collection

In [310]:
# Create a reference the CSV file desired
csv_path = "./Data/data.csv"

# Read CSV File into DataFrame
data_df = pd.read_csv("./Data/data.csv")

#Set DataFrame Index
data_df.set_index('rating', inplace=True)

In [315]:
# Convert Dataframe to Dictionary
data_dict = data_df.to_dict("records")
collection.insert_many(data_dict)

In [316]:
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db'), 'collection')

In [320]:
# Pull Data from MongoDB
mongopull = db.collection.find()  
mongopull_df = pd.DataFrame.from_records(mongopull)
mongopull_df

,_id,name,location,niche_grade,acceptance_rate (%),net_price ($),SAT_range,city,state,SAT_low,SAT_high,SAT_average,state_full,state_lat,state_lng,city_lat,city_lng,college_lat,college_lng
0,61783bcda1c665730eda8358,Massachusetts Institute of Technology,"Cambridge, MA",A+,7,20465.0,1510-1570,Cambridge,MA,1510.0,1570.0,1540.0,Massachusetts,42.407211,-71.382437,42.373616,-71.109733,42.360091,-71.094160
1,61783bcda1c665730eda8359,Harvard University,"Cambridge, MA",A+,5,18030.0,1460-1570,Cambridge,MA,1460.0,1570.0,1515.0,Massachusetts,42.407211,-71.382437,42.373616,-71.109733,42.377003,-71.116660
2,61783bcda1c665730eda835a,Stanford University,"Stanford, CA",A+,4,16779.0,1440-1570,Stanford,CA,1440.0,1570.0,1505.0,California,36.778261,-119.417932,37.424106,-122.166076,37.427475,-122.169719
3,61783bcda1c665730eda835b,Yale University,"New Haven, CT",A+,6,18073.0,1460-1570,New Haven,CT,1460.0,1570.0,1515.0,Connecticut,41.603221,-73.087749,41.308274,-72.927883,41.316324,-72.922343
4,61783bcda1c665730eda835c,Princeton University,"Princeton, NJ",A+,6,18712.0,1460-1570,Princeton,NJ,1460.0,1570.0,1515.0,New Jersey,40.058324,-74.405661,40.357298,-74.667223,40.343094,-74.655074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,61783d7fa1c665730eda8993,Viterbo University,"La Crosse, WI",B,77,20747.0,1050-1270,La Crosse,WI,1050.0,1270.0,1160.0,Wisconsin,43.784440,-88.787868,43.813775,-91.251902,43.802122,-91.245114
1596,61783d7fa1c665730eda8994,University of Michigan - Flint,"Flint, MI",B,66,12153.0,970-1220,Flint,MI,970.0,1220.0,1095.0,Michigan,44.314844,-85.602364,43.012527,-83.687456,43.019933,-83.688193
1597,61783d7fa1c665730eda8995,Cornerstone University,"Grand Rapids, MI",B,78,19923.0,950-1190,Grand Rapids,MI,950.0,1190.0,1070.0,Michigan,44.314844,-85.602364,42.963360,-85.668086,42.981060,-85.595869
1598,61783d7fa1c665730eda8996,Northern Illinois University,"Dekalb, IL",B,48,18346.0,940-1170,Dekalb,IL,940.0,1170.0,1055.0,Illinois,40.633125,-89.398528,41.929536,-88.749913,41.934233,-88.774069
1599,61783d7fa1c665730eda8997,University of Colorado - Colorado Springs,"Colorado Springs, CO",B,87,16221.0,1020-1230,Colorado Springs,CO,1020.0,1230.0,1125.0,Colorado,39.550051,-105.782067,38.833882,-104.821363,38.891425,-104.797182

In [319]:

coll_names=(list(data_df.columns.values))
coll_names

['name',
 'location',
 'niche_grade',
 'acceptance_rate (%)',
 'net_price ($)',
 'SAT_range',
 'city',
 'state',
 'SAT_low',
 'SAT_high',
 'SAT_average',
 'state_full',
 'state_lat',
 'state_lng',
 'city_lat',
 'city_lng',
 'college_lat',
 'college_lng']